.container {
  z-index: 999;
  background-color: rgba(255,255,0,0.7);
  lost-column: 14/100;
  height: 100%;
}

.test1 {
  z-index: 999;
  lost-column: 1;
}
$bs2_height: 910;
$bs2_width: 1500;
/*@lost gutter 0*/

.wrapper {
  padding-left: 2.8%;
}

.topBuffer {
  z-index: 999;
  lost-column: 1;
  height: calc(($bs2_height/ $bs2_width) * 1.8vw);
}

.knob {
  z-index: 999;
  lost-column: 1/3;
  height: calc(($bs2_height/ $bs2_width) * 9vw);

  background-color: rgba(26,188,156 ,.25);
}
