@lost gutter 0px;
$bs2_height: 910;
$bs2_width: 1500;

.container {
  z-index: 999;
  /*height: 18%;*/
  width: 100%;
  height: calc(($bs2_height/ $bs2_width) * 19vw);
  /*height: 0;*/
  background-color: rgba(255,0,0,0.7);
  lost-column: 1;
}

.test1 {
  z-index: 999;
  lost-column: 1;
}
